# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.pytest_cache/
.mypy_cache/
.ruff_cache/
.tox/
.coverage
.coverage.*
htmlcov/
*.egg-info/
.eggs/
dist/
build/
.venv/
venv/
env/

# Rust
target/
**/*.rs.bk
*.pdb

# Editors
.idea/
.vscode/
*.swp
*.swo
*~

# Env
.env
.env.local
